.body {
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
}

.all-forms {
    text-align: center;
    background-color: black;
    color: white;
    padding: 350px 0px 400px;
}

.all-radios {
    margin: 10px 0px 5px;
}

.question {
    font-family: 'Overpass', sans-serif;
}

.black {
    background-color: black;
    color: white;
}

.nav {
    font-family: 'Roboto', sans-serif;
}

.mainhead {
    text-align: center;
    padding: 180px 0px 260px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.footer {
    text-align: center;
    padding: 86px 0px 80px;
    font-family: 'Roboto', sans-serif;
}

.btn {
    margin: 25px 0px 15px;
}


.foot-img {
    max-width: 20px;
    height: 20px;
    margin: 0px 10px 20px 10px;
}

.radio-right {
    padding-left: 20px;
}

/* BMI PAGE */

.yourbmi {
    padding-top: 20px;
}

.bmi-radios {
    padding-bottom: 30px;
}

/* MAX PAGE */

.max-radios {
    padding-bottom: 20px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-btn {
margin-bottom: 25px;
}

/* TDEE PAGE */

.tdee-faq {
    padding: 20px 30px 0px 30px;
}

.sex-radios {
    padding-bottom: 20px;
}

.tdee-inputs {
    padding-bottom: 15px;
}

/* WILKS SCORE */

.wilks-forms {
    text-align: center;
    background-color: black;
    color: white;
}

.wilks-button {
    margin-bottom: 30px;
}

/* MOBILE SIZE */

@media only screen and (max-width: 600px) {
    .question {
        font-family: 'Overpass', sans-serif;
        margin: 0px 30px 0px 30px;
    }
    
}


